---
import XAccordion from "@/components/XAccordion.astro";
import type { IEducation } from "@/interfaces";
import { Contentful, calculateResizedHeight, cn, convertDates } from "@/lib";
import { Image } from "astro:assets";
import Chip from "./Chip.astro";

const education = (
  await Contentful.withoutUnresolvableLinks.getEntries<IEducation>({
    content_type: "education",
    order: ["sys.createdAt"],
  })
).items.map(({ fields }) => ({
  ...fields,
  logo: fields.logo?.fields.file,
}));
---

<section>
  <Chip variant="outline" radius="lg" title class="mb-4">Education</Chip>

  <XAccordion class="flex flex-col gap-4">
    {
      education.map((education) => (
        <details class="overflow-hidden rounded-lg bg-neutral-100 transition-colors hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700">
          <summary class="flex cursor-pointer flex-col justify-between gap-4 p-4 sm:flex-row sm:items-center sm:gap-0">
            <div class="flex items-center gap-3">
              <div class="h-8 w-8">
                <Image
                  src={`https:${education.logo?.url}`}
                  alt={education.school}
                  width={96}
                  height={calculateResizedHeight(
                    education.logo!.details.image!.width,
                    education.logo!.details.image!.height,
                    96,
                  )}
                  format={education.logo!.fileName.split(".")[1]}
                />
              </div>

              <div class="flex flex-col gap-2">
                <h2 class="text-lg/none font-medium">{education.school}</h2>
                <h3 class="leading-none">{education.program}</h3>
              </div>
            </div>

            <Chip
              variant="outline"
              radius="xl"
              size="sm"
              class="border-none bg-neutral-200 text-neutral-800 dark:bg-neutral-700 dark:text-neutral-50"
            >
              {convertDates(education.startDate, education.endDate)}
            </Chip>
          </summary>

          <div class="px-4 pb-4">
            <ul
              class={cn(
                "list-inside list-disc marker:text-green-500 dark:marker:text-yellow-500",
                {
                  "columns-2": education.courses.length > 4,
                },
              )}
            >
              {education.courses.map((course) => (
                <li>{course}</li>
              ))}
            </ul>
          </div>
        </details>
      ))
    }
  </XAccordion>
</section>
