---
import type { IExperience } from "@/interfaces";
import { Contentful, calculateResizedWidth, convertDates } from "@/lib";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import Chip from "./Chip.astro";

const experiences = (
  await Contentful.withoutUnresolvableLinks.getEntries<IExperience>({
    content_type: "experience",
    order: ["sys.createdAt"],
  })
).items.map(({ fields }) => ({
  ...fields,
  logo: fields.logo?.fields.file,
  skills: fields.skills.map((skill) => skill?.fields),
}));
---

<section class="mb-8">
  <div class="mb-4 flex flex-col items-start gap-2 sm:flex-row sm:items-center">
    <h1 class="text-2xl font-semibold">🧑🏻‍💻 Experience</h1>
    <Chip variant="primary" size="sm">2 years of work experience ⏳</Chip>
  </div>

  <div class="grid gap-4 md:grid-cols-2">
    {
      experiences.map((experience) => (
        <div class="flex flex-col rounded-2xl bg-neutral-100 p-5 shadow-lg dark:bg-neutral-800">
          <div class="mb-4 flex flex-col items-start justify-between gap-2 sm:flex-row sm:items-center">
            <div class="flex items-center gap-2">
              <Image
                src={`https:${experience.logo!.url}`}
                alt={experience.company}
                width={calculateResizedWidth(
                  experience.logo!.details.image!.width,
                  experience.logo!.details.image!.height,
                  32,
                )}
                height="32"
              />

              <div class="flex flex-col gap-1">
                <h2 class="text-lg/none font-semibold">{experience.company}</h2>
                <h3 class="leading-none">{experience.position}</h3>
              </div>
            </div>

            <Chip size="sm">
              {convertDates(experience.startDate, experience.endDate)}
            </Chip>
          </div>

          <ul class="mb-8 list-inside list-square leading-loose marker:text-emerald-500 dark:marker:text-yellow-600">
            {experience.achievements.map((achievement) => (
              <li>{achievement}</li>
            ))}
          </ul>

          <div class="mt-auto flex flex-wrap gap-4">
            {experience.skills.map((skill) => (
              <div>
                <Icon name={skill?.icon} width="40" height="40" />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
